.book-catalog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; /* Adjust the padding as needed */
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
  }
  
  .search button {
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
  }
  
  .card-container {
    max-width: 540px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Adjust the margin as needed */
  }

  h2{
    color:#5b4e42;
  }
  