body {
    background-color: #DBD3CA;
}

img.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    border-radius: 50%;
}

p.center {
    text-align: center;
    
}

div.card-fave-quote {
    margin-top: 30px;
    background-color: #3F4C69;
    color: #DBD3CA;
}

p.fave-genres {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #3F4C69;
}

p.book-collection {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #3F4C69;
}

p.alltime-fave {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #3F4C69;
}

div.fave-alltime {
    margin-right: auto;
    margin-left: auto;
    background-color: #796D62;
    color: #DBD3CA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    object-fit: contain;
}

h5.card-title {
    size: 100%;
}

